<html>
  <head>
      <title>Jenna's blog</title>
  </head>
  <body>
      <div>
          <h1><a href="">Django Girls Blog</a></h1>
      </div>

      <div>
          <p>published: 21.07.2017, 9:56</p>
          <h2><a href="">My first post</a></h2>
          <p>hi i am jenna hi hi hi hi hi hi hi im jenna</p>
      </div>

      <div>
          <p>published: 21.07.2017, 9:58</p>
          <h2><a href="">my second post</a></h2>
          <p>hi this is my second postttttttttt</p>
      </div>

  </body>
</html>
